#inputdiv {
    /*display: none;*/
}

.detaildiv.singlevariantpage {
    overflow: unset;
    position: unset;
}

.singlevariantpage .detailcontainerwrapdiv {
    width: unset;
    height: unset;
    padding-bottom: 10px;
}

.singlevariantpage .detailcontentdiv {
    height: unset;
    overflow: auto;
}

/*
.singlevariantpage .detailcontentdiv * {
    font-size: 18px;
}
*/

.singlevariantpage .detailcontentdiv td {
    vertical-align: top;
}

.singlevariantpage .detailwidget {
    margin: 0px;
    border: 0px;
    position: relative;
    height: unset;
}

.singlevariantpage .detailwidget.nodata {
    color: #cccccc;
}

.singlevariantpage .detailwidgettitle {
    text-decoration: underline;
    background: none;
}

.singlevariantpage .detailwidget-closebutton {
    display: none;
}

.singlevariantpage .detailwidgetpinbutton {
    display: none;
}

.singlevariantpage .detailwidget-camerabutton {
    display: none;
}

.container_titlediv {
    font-size: 26px;
    font-weight: bold;
    padding: 6px;
    color: white;
    box-shadow: inset 0 0 0 1000px #4a87bd;
    /*width: 1188px;*/
}

.singlevariantpage.widgettitle {
    font-size: 16px;
    background-color: lightblue;
    text-decoration: underline;
}

#logodiv {
    position: fixed;
    left: 0vw;
    background-color: white;
    width: 100%;
    top: 0vw;
    padding-top: 0.6vw;
    z-index: 4;
    height: 6vw;
}

#detaildiv_variant {
    position: relative;
    background-color: white;
    padding: 1vw;
}

#spinnerdiv {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    z-index: 1;
    background-color: white;
}

#pagetitle {
    font-size: 3vw;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0px;
    color: black;
}

#pagetitle_hr {
    position: absolute;
    top: 5.5vw;
    width: 100%;
}

#search_btn {
    width: 3vw;
    position: absolute;
    top: 1vw;
    right: 9vw;
}

#question_btn {
    width: 1vw;
    position: absolute;
    right: 6vw;
    top: 1.4vw;
}

#mtblogo {
    width: 4vw;
    position: absolute;
    right: 1vw;
}

#wglollipop_legend > div {
    margin-right: 10px;
    margin-bottom: 6px;
}

#wglollipop_legend span {
    font-size: 16px;
    vertical-align: middle;
}

#wglollipop_legend .circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    border: 1px black solid;
}

#widgetcontentdiv_cosmic2_variant div:first-child {
    width: 400px;
}

@media only screen and (max-width: 1000px) {
    #widgetcontentdiv_cosmic2_variant div:first-child {
        width: 96vw;
    }
    #widgetcontentdiv_cancer_hotspots_variant {
        width: 96vw;
    }
}

.detailcontentdiv th {
    font-size: 18px;
}

