#inputdiv {
    /*display: none;*/
}

.detaildiv.singlevariantpage {
}

.singlevariantpage .detailcontainerwrapdiv {
    padding-bottom: 10px;
}

.singlevariantpage .detailcontentdiv {
    /* overflow: auto; */
    background-color:#e8e8e8;
    border-radius: 10px;
    padding-left: 5px;
    /* display: flex;
    flex-direction: column; */
    /* max-width: 90%;
    overflow-x: hidden; */ 
    /* flex: 1; */
    /* overflow-y: scroll; */
}

/*
.singlevariantpage .detailcontentdiv * {
    font-size: 18px;
}
*/

.singlevariantpage .detailcontentdiv td {
    vertical-align: top;
    /* padding-right: 690px; */
}

.singlevariantpage .detailwidget {
    padding-bottom: 1rem;
    padding-left: 0px;
}

.singlevariantpage .detailwidget.nodata {
    color: #cccccc;
}

.singlevariantpage .detailwidgettitle {
    /*text-decoration: underline;*/
    background: none;
}

.singlevariantpage .detailwidget-closebutton {
    display: none;
}

.singlevariantpage .detailwidgetpinbutton {
    display: none;
}

.singlevariantpage .detailwidget-camerabutton {
    display: none;
}

.container_titlediv {
    font-family: 'source-sans-pro-bold';
    font-size: 30px;
    font-weight: 800;
    padding-left: 5px;
    /*padding: 6px;*/
    background-color: whitesmoke;
    color: black;
    /*box-shadow: inset 0 0 0 1000px #4a87bd;*/
    /*width: 1188px;*/
}

.singlevariantpage.widgettitle {
    font-size: 16px;
    /*background-color: lightblue;*/
    /*text-decoration: underline;*/
}
.container {
    /* border:1px solid white; */
}
.container div {
}
.container .header {
    position: relative;
    background-color: white;
    padding-top: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    line-height: 1.5;
}
.container .content {
    display: none;
    padding : 5px;
}
#body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#bottom-div {
  display: grid;
  grid-template-columns: minmax(0, 17rem) 1fr;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#logodiv {
    background-color: whitesmoke;
    height: 6vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0;
    background-image: url("banner.png");
    background-size: 100% 100%;
    width: 100%;
  }

#logodiv > div {
  display: flex;
}

#detaildiv_variant {
    background-color: whitesmoke;
}

#spinnerdiv {
    display: flex; 
    opacity: 0.5;
    position: fixed; 
    width: 100vw; 
    height: 94vh; 
    background-color: white;
    top: 6vw; 
    left: 0; 
    align-items: center; 
    justify-content: center;
}

#pagetitle {
    font-size: 4vw;
    text-align: center;
    margin: 0px;
    color: whitesmoke;
    font-family: 'source-sans-pro-bold';
    border-radius: 10px;
    text-shadow: 0 0 6px #000;
    position: absolute;
    
}

#search_btn {
    width: 4.5vw;
    /* height: 5vh; */
    position: absolute;
    left: 17vw;
    top: 1vw;
}

#inputdiv {
  font-size: 12px;
  background-color: white;
}

#helpimg {
  width: 7vw; 
  height: 5vh;
  cursor: pointer;
  position: relative;
  /* right: 10px; */
  top: 23px;
}

#question_btn {
    width: 1vw;
    position: absolute;
    right: 6vw;
    top: 1.4vw;
}

#mtblogo {
    width: 4vw;
    position: absolute;
    right: 1vw;
}

#wglollipop_legend > div {
    margin-right: 10px;
    margin-bottom: 6px;
}

#wglollipop_legend span {
    font-size: 16px;
    vertical-align: middle;
}

#wglollipop_legend .circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    border: 1px black solid;
}

/*#widgetcontentdiv_cosmic2_variant div:first-child {
    width: 400px;
}*/

/*@media only screen and (max-width: 1080px) {
    #widgetcontentdiv_cosmic2_variant div:first-child {
        width: 92vw;
    }
    #widgetcontentdiv_cancer_hotspots_variant {
        width: 92vw;
    }
}*/

.detailcontentdiv th {
    font-size: 18px;
}

.hidden {
    display: none;
}

dl {
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

dl > div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 12rem auto;
}

dt {
  /*font-size: 0.875rem;*/
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(32 32, 32);
  /*color: rgba(17, 24, 39, 1);*/
  /*grid-column: span 3 / span 3;*/
  padding-right: 1rem;
  word-break: break-word;
}

dd {
  /*font-size: 0.875rem;*/
  color: rgba(17, 24, 39, 1);
  /*grid-column: span 9 / span 9;*/
}

@media (max-width: 800px) {
  dl > div {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  dt {
    grid-column: span 1 / span 1;
  }

  dd {
    grid-column: span 2 / span 2;
  }
}

.cgl_class {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 500;
  border-radius: 9999px;
}

.cgl_oncogene {
  color: rgba(153, 27, 27, 1);
  background-color: rgba(254, 226, 226, 1);
}

.cgl_tsg {
  color: rgba(6, 95, 70, 1);
  background-color: rgba(209, 250, 229, 1);
}

.dialdiv {
  display: grid;
  grid-template-columns: 7rem 1fr;
}

.dialdiv > div {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.dialdiv > div > div:first-child {
  font-size: 0.750rem;
}

.dialdiv > div > div:nth-child(2) {
  font-size: 1.250rem;
}

.dialdiv2 {
  display: grid;
  grid-template-columns: 7rem 1fr;
}

.dialdiv2 > div {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.dialdiv2 > div > div:first-child {
  font-size: 0.800rem;
  font-weight: bolder;
}

.preddiv > div {
  display: flex;
  flex-direction: column;
  padding:10px;
  /* padding-top: 1rem; */
}

.preddiv > div > div:first-child {
  font-size: 0.750rem;
}

.preddiv > div > div:nth-child(2) {
  font-size: 1.250rem;
}

.basediv > div {
  display: flex;
  flex-direction: column;
  padding-right:10px;
  padding-left: 10px;
  box-sizing: border-box;
  /* padding-top: 1rem; */
}

.basediv > div > div:first-child {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  /* cominor: #395388; */
  /* color: white; */
}

.basediv > div > div:nth-child(2) {
  font-size: 1.250rem;
  text-align: center;
  word-break: break-word;
  width: 235px
}
#basetable{
  border: none;
}
.clinvar_traitname {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 9999px;
  border: 1px solid #bbbbbb;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: whitesmoke;
}
.omim {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 9999px;
  border: 1px solid #bbbbbb;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(152,216,233, 1);
}
.cardiovascular {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    /* margin-right: 0.5rem; */
    margin-bottom: 0.5rem;
    background-color: #e8e8e8;

  }
  .cardio {
    /* padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: whitesmoke; */
    font-size: 20px;
    color: black;
  }

.sidenav {
  background-color: rgb(73 134 189);
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 11vw; 
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  overflow-y: scroll;
  min-width: 15rem;
  /* padding-right: 10px; */
}


.sidenav a {
  padding: 10px 8px 6px 16px;
  font-size: 17px;
  font-family: 'open-sans-300';
  color: whitesmoke;
  display: block;
  border-bottom: .5px solid whitesmoke;
  display:inline-block; 
  text-decoration:none;
  height: 13%;
  /* width: 100%;  */
  text-align: left;
  vertical-align: middle;
}

.sidenav a:hover {
    color: rgb(32,32,32);
    background-color: whitesmoke;
}
.main {
  overflow: auto;
  height: 95vh;
  margin: 0;
  padding: 0;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

#material-icons {
  width: 150px;
  position: absolute;
  top: 20px;
  padding-left: 2vw;
}
.arrow_pharm {
  /* border: solid white; */
  width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid white;
  display: inline-block;
  position: relative;
  left: 10px;
  /* padding: 4px; */
  /* right: 135px; */

  /* margin-left: 20px */
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 8px solid white;
  border-bottom: 8px solid transparent;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 2px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-top: 8px solid white;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 5px;
}


.logoHover {
  opacity: 1.00;
  transition: 0.5s ease-in-out;
  padding-top: 15px;
}

 .sidenav-header {
  /* padding-bottom: 20px; */
  background: #e8e8e8;
  margin-top: 0px;
  border-top-left-radius:10px ;
  border-top-right-radius: 10px;
  
}

#logo {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 15px; */
  /* margin: 20px; */
  padding-bottom: 40px;
  padding-top: 35px;
  display: block;
}
h3 {
  display: block;
  font-size: 2rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: rgb(73 134 189);
  font-family: 'open-sans-300';
}
#OC-title {
  text-align: center;
}

#newtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-align: left;
  background-color: rgb(73 134 189);
  color: white;
  height: 10px;
  position: sticky;
  top: 0;
}

#newtable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#newtable td {
  border: 1px solid #ddd;
  padding: 5px;
}

#newtable tr:nth-child(odd){background-color: #f2f2f2;}

#newtable tr:hover {background-color: #ddd;}

#pred th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-align: left;
  background-color: rgb(73 134 189);;
  color: white;
  height: 10px;
  position: sticky;
  top: 0;
}

#pred {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* border-style: solid; */
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 9px;
}
#segway {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    Width: 100%;
    padding: 10px;
}
.pred_class {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 35px;
  color: black;
  font-size: 1.250rem;
}
.pred_damaging {
  color: rgba(153, 27, 27, 1);
  position: relative;
  top: 25px;
}
.pred_tol {
  color: rgba(6, 95, 70, 1);
  position: relative;
  top: 25px;
}
.pred_noanno {
  color: darkgrey;
  position: relative;
  top: 25px;
  font-size: 0.5rem;
}
.pred_score {
  background-color: white;
  color: black;
  position: relative;
  top: 25px;
}
#pred td {
  padding: 15px;
  vertical-align: top;
  height: 126px;
}
#pred tr {
  border: 1px solid #ddd;
  padding: 15px;
}
#phylop {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid gray;
  Width: 100%;
}
.logos_short {
  vertical-align: middle;
  margin-left: -14px;
  width: 12%;
  height: 25px;
  filter: brightness(0) invert(1);
  padding-bottom: 0px;
}

.logos_tall {
  vertical-align: middle;
  margin-left: -14px;
  width: 10%;
  height: 28px;
  filter: brightness(0) invert(1);
  padding-bottom: 0px;
}
.sidenav a:hover .logos_short{
  color: rgb(32,32,32);
  background-color: whitesmoke;
  filter: brightness(1);
  
}
.sidenav a:hover .logos_tall{
  color: rgb(32,32,32);
  background-color: whitesmoke;
  filter: brightness(1);
}
.linkclass{
  text-decoration: none;
  color: rgb(73 134 189);
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.linkclass:hover{
  text-decoration: underline;
  color: rgb(73 134 189);
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted #395388;
  color: #395388; */
  /* font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: white;
  color:black;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  border:1px solid rgb(73 134 189);
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.infoimg{
  /* padding-left: 5px; */
  position: relative;
  top: 3px;
  width: 16px;
}

.clinbutton{
  background-color:rgb(73 134 189);
  color: white;
  width: 220px;
  font-size: 17px;
  border-radius: 9999px;
  padding: 5px;
  margin-bottom: 20px;
}

.ndexbutton{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 2px;
  font-family: 'roboto-medium';
  color: #ffffff;
  background: #c5af8d;
  text-decoration: none;
  border-style: none;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
  height: 50px;
}
